# OS
.DS_Store
Thumbs.db

# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key

# Env
.env
.env.*
!.env.example

# Logs
/storage/logs/*
!/storage/logs/.gitignore

# Cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

# IDE
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Composer
# NÃO ignorar
# composer.lock

# NPM
# NÃO ignorar
# package-lock.json
# yarn.lock

# Misc
*.sql
*.zip
*.tar.gz
